@model ShaulisCrazyFans.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "PostManager", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <h4>Post</h4>
    <hr /><br />
    @Html.ValidationSummary(true)

    <p>
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </p>
    <p>
        @Html.LabelFor(model => model.Author)
        @Html.EditorFor(model => model.Author)
        @Html.ValidationMessageFor(model => model.Author)
    </p>
    <p>
        @Html.LabelFor(model => model.AuthorSite)
        @Html.EditorFor(model => model.AuthorSite)
        @Html.ValidationMessageFor(model => model.AuthorSite)
    </p>
    <p>
        @Html.LabelFor(model => model.Content)
        @Html.EditorFor(model => model.Content)
        @Html.ValidationMessageFor(model => model.Content)
    </p>
    <p>
        @Html.Label("Photo:")
        <input type="file" name="photo" id="photo" accept=".png" />
    </p>
    <p>
        @Html.Label("Video:")
        <input type="file" name="video" id="video" accept=".mp4" />
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>