@model ShaulisCrazyFans.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<header>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p>Posted on <time datetime="2009-06-29T23:31+01:00">@Html.DisplayFor(model => model.ReleaseDate)</time> by <a href="@Html.DisplayFor(model => model.AuthorSite)">@Html.DisplayFor(model => model.Author)</a></p>
</header>
<div>
    <p>@Html.DisplayFor(model => model.Content)</p>
    @{string imgName = "/Uploads/" + @Model.Id + ".png";}
   @if (File.Exists(Server.MapPath("~" + imgName)))
   {
        <div id="@(Model.Id + "div")">
            <img src="@imgName" id="@(Model.Id + "img")" />            
            <script>
                setTimeout(function () {
                    var container = document.getElementById("@(Model.Id + "div")");
                    var img = document.getElementById("@(Model.Id + "img")");
                    var canvas = document.createElement("canvas");
                    canvas.id = "canvas" + "@(Model.Id)";
                    canvas.width = 320;
                    canvas.height = 240;
                    container.appendChild(canvas);
                    var context = canvas.getContext("2d");
                    context.drawImage(img, 0, 0, 320, 240);
                    img.remove();
                }, 100);
            </script>

        </div>
   }
    @{string vidName = "/Uploads/" + @Model.Id + ".mp4";}
    @if (File.Exists(Server.MapPath("~" + vidName)))
    {
        <video controls="controls">
            <source src="@vidName" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
