@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<ShaulisCrazyFans.Models.Post>
            
<section>
    <div>
        <form>
            <h3>Search here for your favorite post</h3>
            <p>
                <label for="date">By date: </label>
                <input type="date" name="date_start"> to <input type="date" name="date_end" />
            </p>
            <p>
                <label for="write_name">By post writer name: </label>
                <input type="text" name="writer_name" />
            </p>
            <p>
                <label for="writer_email">By post writer email: </label>
                <input type="email" name="writer_email" />
            </p>
            <p>
                <label for="keywords">By keywords: </label>
                <input type="text" name="keywords" />
            </p>
            <p>
                <label for="comments_num">By minimum comments: </label>
                <input type="range" name="comments_num" min="0" max="10" onchange="updateTextInput(this.value);">
                &nbsp <label id="comments_number" for="comments_num" style="text-align:left" />
            </p>
            <input type="submit" value="Filter">
        </form>
    </div>
</section>

@foreach (var item in Model) {
    <section>
        <article class="blogPost">
            <header>
                <h2>@item.Title</h2>
                <p>Posted on <time datetime="2009-06-29T23:31+01:00">@item.ReleaseDate</time> by <a href="@item.AuthorSite">@item.Author</a> - <a href="#comments">@item.Comments.Count</a></p>
            </header>
            <div>
                <p>@item.Content</p>
                @{string imgName = "/Uploads/" + @item.Id + ".png";}
                @if (File.Exists(Server.MapPath("~" + imgName)))
                {
                    <img src="@imgName" />
                }
                @{string vidName = "/Uploads/" + @item.Id + ".mp4";}
                @if (File.Exists(Server.MapPath("~" + vidName)))
                {
                    <video controls="controls">
                        <source src="@vidName" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                }
               
                
            </div>
        </article>
    </section>
    <section id="comments">
    <h3>Comments</h3>
        @foreach(var comment in item.Comments)
        {
            <article>
                <header>
                    <a href="@comment.AuthorSite">@comment.Author</a> on <time datetime="2009-06-29T23:35:20+01:00">@comment.ReleaseDate</time>
                </header>
                <h2>@comment.Title</h2>
                <p>@comment.Content</p>
            </article>
        }
        </section>
        
        using (Html.BeginForm("Create", "Home")){
        @Html.AntiForgeryToken()
    
        ShaulisCrazyFans.Models.Comment c = (ShaulisCrazyFans.Models.Comment)ViewBag.NewComment;        
    
        <div class="form-horizontal">
            <h4>Comment</h4>
            <hr />
            @Html.ValidationSummary(true)

            @Html.Hidden("c.PostId", (int)item.Id)

            <div class="form-group">
                @Html.LabelFor(model => c.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => c.Title)
                    @Html.ValidationMessageFor(model => c.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => c.Author, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => c.Author)
                    @Html.ValidationMessageFor(model => c.Author)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => c.AuthorSite, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => c.AuthorSite)
                    @Html.ValidationMessageFor(model => c.AuthorSite)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => c.Content, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                   
                    @Html.EditorFor(model => c.Content)
                    @Html.ValidationMessageFor(model => c.Content)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
                  

           
        </div>
    }

 }