@model ShaulisCrazyFans.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Comment Details</h2>

<div>
    <form>
        <p>
            <label style="font-size: 16px">Belong to Post: </label>
            <span style="font-size: 20px">@Html.DisplayFor(model => model.Post.Title)</span>
            <span style="font-size: 14px; font-style: italic; color: #777;">&nbsp; by @Html.DisplayFor(model => model.Post.Author), Posted on @Model.Post.ReleaseDate</span>
        </p>
        <hr /><br />
        <p>
            <label>@Html.DisplayNameFor(model => model.Title)</label>
            @Html.DisplayFor(model => model.Title)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.Author)</label>
            @Html.DisplayFor(model => model.Author)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.AuthorSite)</label>
            @Html.DisplayFor(model => model.AuthorSite)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.Content)</label>
            @Html.DisplayFor(model => model.Content)
        </p>
    </form>
</div>
<hr /><br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.PostId })
</p>
