@model ShaulisCrazyFans.Models.CrazyFan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <form>
            <p>
                <label>@Html.DisplayNameFor(model => model.FirstName)</label>
                @Html.DisplayFor(model => model.FirstName)
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.LastName)</label>
                @Html.DisplayFor(model => model.LastName)
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.City)</label>
                @Html.DisplayFor(model => model.City)
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.Gender)</label>
                @Html.DisplayFor(model => model.Gender)
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.Birthday)</label>
                @Html.DisplayFor(model => model.Birthday)
            </p>
            <p>
                <label>@Html.DisplayNameFor(model => model.TimeInClub)</label>
                @Html.DisplayFor(model => model.TimeInClub)
            </p>
        </form>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
