@model ShaulisCrazyFans.Models.CrazyFan

@{
    ViewBag.Title = "Details";
}

<h2>Fan Details</h2>

<div>
    <form>
        <p>
            <label>@Html.DisplayNameFor(model => model.FirstName)</label>
            @Html.DisplayFor(model => model.FirstName)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.LastName)</label>
            @Html.DisplayFor(model => model.LastName)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.City)</label>
            @Html.DisplayFor(model => model.City)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.Gender)</label>
            @Html.DisplayFor(model => model.Gender)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.Birthday)</label>
            @Html.DisplayFor(model => model.Birthday)
        </p>
        <p>
            <label>@Html.DisplayNameFor(model => model.TimeInClub)</label>
            @Html.DisplayFor(model => model.TimeInClub)
        </p>
    </form>
</div>
<hr /><br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
