@model ShaulisCrazyFans.Models.CrazyFan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <h4>CrazyFan</h4>
    <hr /><br />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <p>
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </p>
    <p>
        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </p>
    <p>
        @Html.LabelFor(model => model.City)
        @Html.EditorFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City)
    </p>
    <p>
        @Html.LabelFor(model => model.Gender)
        @Html.EnumDropDownListFor(model => model.Gender)
        @Html.ValidationMessageFor(model => model.Gender)
    </p>
    <p>
        @Html.LabelFor(model => model.Birthday)
        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @Value = @Model.Birthday.ToString("yyyy-MM-dd"), @class = "customclass" } })
        @Html.ValidationMessageFor(model => model.Birthday)
    </p>
    <p>
        @Html.LabelFor(model => model.TimeInClub)
        @Html.EditorFor(model => model.TimeInClub)
        @Html.ValidationMessageFor(model => model.TimeInClub)
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
